spring:
  liquibase:
    change-log: classpath:db/migration/changelog-master.yaml
  datasource:
    url: jdbc:postgresql://db:5432/bankcards
    username: bankcards
    password: bankcards
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  logging:
    level:
      org.springframework.security: DEBUG
      org.hibernate.SQL: DEBUG

server:
  port: 8080

jwt:
  secret: mySecretKeyThatIsLongEnoughForSecurity1234567890
  expiration: 3600000

app:
  encryption:
    secret: MyVerySecretEncryptionKey12345678901234

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /v3/api-docs

